
nav {
    height: 50px;
    background: #000;
}

.menu {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
}

.menu ul li a,
.menu ul li  {
    color: #fff;
    line-height: 44px;
    text-decoration: none;
}
.menu ul li a.menu_item:hover{
     color: dimgray;
    margin-top: -5px;
    border-bottom : 2px solid rgb(4, 112, 253);
    box-sizing: border-box;
}

.menu ul li .fa.fa-apple {
    font-size: 20px;
    line-height:44px;
}

.menu ul li a.menu_item {
    transform: scale(1);
    transition: 0.5s;
    display: block;
}

.menu ul li a.menu_item.hide-item {
    transform: scale(0);
}

.menu ul li:nth-child(2) a.menu_item.hide-item {
    transition-delay: 0.6s;
}

.menu ul li:nth-child(3) a.menu_item.hide-item {
    transition-delay: 0.5s;
}

.menu ul li:nth-child(4) a.menu_item.hide-item {
    transition-delay: 0.4s;
}

.menu ul li:nth-child(5) a.menu_item.hide-item {
    transition-delay: 0.3s;
}

.menu ul li:nth-child(6) a.menu_item.hide-item {
    transition-delay: 0.2s;
}

.menu ul li:nth-child(7) a.menu_item.hide-item {
    transition-delay: 0.1s;
}

.menu ul li:nth-child(8) a.menu_item.hide-item {
    transition-delay: 0s;
}




.menu ul li:nth-child(2) a.menu_item {
    transition-delay: 0s;
}

.menu ul li:nth-child(3) a.menu_item {
    transition-delay: 0.1s;
}

.menu ul li:nth-child(4) a.menu_item {
    transition-delay: 0.2s;
}

.menu ul li:nth-child(5) a.menu_item {
    transition-delay: 0.3s;
}

.menu ul li:nth-child(6) a.menu_item {
    transition-delay: 0.4s;
}

.menu ul li:nth-child(7) a.menu_item {
    transition-delay: 0.5s;
}

.menu ul li:nth-child(8) a.menu_item {
    transition-delay: 0.6s;
}



.close {
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    background: #000;
    color: #fff;
    line-height: 44px;
    font-size: 18px;
    text-align: right;
    width: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.close.active {
    opacity: 1;
    visibility: visible;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  body{
  margin:0;
  overflow-x:hidden !important;
  box-sizing:border-box;
  font-family: 'Source Sans Pro', sans-serif;
  }
  
  
  a{
  text-decoration:none;
  outline:none !important;
  color:#fff;
  }
  
  .border_shape {
  background: #ffbe00 none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  }
  
  .border_shape::before {
  background: #ffbe00 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
  }
  
  .border_shape::after {
  background: #ffbe00 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
  }
  
  
  
  
  
  
  
  
  
  
  
  /*FOOTER*/
  footer{
  width:100%;
  background-color:#121619;
  color:#fff;
  }
  
  .top_header{
  padding:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  }
  
  .top_header section{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  }
  
  .top_header span{
  padding:0 1rem;
  }
  
  .top_header .fa{
  color:#ffbe00;
  font-size:35px;
  }
  
  footer .border_shape {
  width: 40%;
  }
  
  footer .border_shape::before {
  width: 100%;
  left:120px;
  }
  
  footer .border_shape::after {
  width: 100%;
  right:120px;
  }
  
  footer .bottom_content section{
  padding:1.5rem 2rem;
  display:flex;
  align-items:center;
  justify-content:Center;
  }
  
  .bottom_content a{
  margin:0 20px;
  color:rgba(255,255,255,0.7);
  transition:0.5s;
  }
  
  .bottom_content a:hover{
  color:rgba(255,255,255,1);
  }
  
  
  .copyright{
  padding:0.8em 0;
  background-color:#1e1e1e;
  text-align:center;
  color:rgba(255,255,255,0.7);
  font-size:12px;
  }
  
  
  
  @media (max-width:820px){
  .top_header{
  padding:1rem;
  display:block;
  }
  
  .top_header section{
  margin:40px 0;
  align-items:left;
  justify-content:left;
  }
  footer .bottom_content section{
  padding:1rem;
  display:block;
  }
  footer .bottom_content section a{
  padding:1rem;
  font-size:12px;
  margin:0 5px;
  display:inline-block;
  }
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    margin: 0;
    padding: 0; }
  
  
  
  
  .logo {
    margin: 5px 0 0 50px;
    fill: white;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin: center;
            transform-origin: center; }
  
  .logo:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  
  .logo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 50px;
    grid-template-columns: 150px 50px;
    height: 40px; }
  
  .logo-text {
    margin: 5px 0 0px -70px;
    color: white;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin: center;
            transform-origin: center; }
  
  .logo-text:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  
  .menu-container {
    height: 40px; }
  
  .menu-icon {
    color: white;
    font-size: 40px;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform-origin: center;
            transform-origin: center;
    width: 25px;
    margin: 0px 0 0px 50px;
    padding: -5px 5px -5px 5px;
    text-decoration: none;
    /*
    fill: #9da0a2;
  
  
  
    */ }
  
  .menu-icon:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  
  .nav-link {
    text-decoration: none; }
  
  /*    - Heading -    */
  .heading {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center; }
  
  .heading_title {
    margin: 100px 0 20px 0;
    font-size: 40px; }
  
  .heading_text {
    text-align: center;
    font-size: 20px;
    padding: 0 20vw 0 20vw;
    color: #6c7781;
    line-height: 1.6; }
  
  .header-buttons {
    text-align: center;
    margin-top: 22px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 220px;
    grid-template-columns: 220px 220px;
    justify-content: center;
    grid-gap: 5px; }
  
  .primary-button {
    font-size: 17px;
    height: 38px;
    color: white;
    background-color: #0679fc;
    border-radius: 5px; }
  
  .secondary-button {
    font-size: 17px;
    height: 38px;
    color: white;
    background-color: #6b757d;
    border-radius: 5px; }
  
  .add_cursor:hover {
    cursor: pointer; }
  
  /*    - Cards -    */
  .cards {
    background-color: #f8f9fa;
     
    padding: 20px 0 20px 0;
    margin: 10px 0 0 0;         
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (208px)[5];
    grid-template-columns: repeat(5, 208px);
    justify-content: center;
    grid-gap: 60px; }
  
  .card {
    background-color: white;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
  
  .thumbnail {
    height: 225px;
    display: -ms-grid;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #54595c;
    color: white;
    border-radius: 4px 4px 0 0; }
  
  .card_text {
    padding: 20px;
    font-size: 18px; }
  
  .card_buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px 50px 1fr;
    grid-template-columns: 50px 70px 1fr;
    padding: 15px; }
  
  .card_button_1 {
    display: -ms-grid;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    height: 30px;
    color: black;
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px 0 0 5px;
    opacity: 0.5; }
  
  .card_button_2 {
    display: -ms-grid;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    height: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    opacity: 0.5; }
  
  .card_bottom_text {
    text-align: right;
    margin: 0;
    padding-top: 5px;
    font-size: 12px;
    opacity: 0.6; }
  
  .hover_effect {
    -webkit-transition: all .2s;
    transition: all .2s; }
  
  .hover_effect:hover {
    background-color: #54595c;
    color: rgba(255, 255, 255, 0.329); }
    .wrapper{
      overflow: hidden;
    }
    
    .sliding_background{
      background: url("https://i.ibb.co/zxswXDj/Remini20211205074048456.jpg") repeat-x;
      height: 370px;
      width: 5076px;
      animation: slide 60s linear infinite;
    }
    
    @keyframes slide{
      0%{
        transform: translate3d(0, 0, 0);
      }
      100%{
        transform: translate3d(-1692px, 0, 0);
      }
    }

    #pagecontainer {
      position: relative;
      min-height: 100vh;
    }
    
    
    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
                  
    }