@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);


.fullcover {
  background-color: powderblue;
  padding: 14em;
}


.title_pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title_pen span {
  color: #55acee;
}

.user_profile {
  margin: auto;
	width: 30em; 
  height: 10em;
  background: #fff;
  border-radius: .3em;
}

.user_profile  .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user_profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user_profile > .description {
 margin: auto;
  margin-top: 2em;
  margin-right: 2em;
  width: 14em;
  color: #c0c5c5; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user_profile > img.avatar {
	padding: 0;
  margin-left: -300px;
  margin-top: 1em;
  height: 7em;
  width: 7em;
  border-radius: 15em;
}

.user_profile ul.data {
	margin: 2em auto;
	height: 3em;
  background: cyan;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user_profile li {
	margin: 0 auto;
  padding: .5em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user_profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user_profile span:hover {
  color: #daebea;
}

.bg {
        
  background-image: url("https://i.ibb.co/ysNWxjq/profile-bg.jpg");
  height: 110vh;
  background-position: center;
  background-repeat: no-repeat;
  
}